.messages {
    padding: 15px 15px;
    background: rgba(var(--bs-body-bg-rgb), 0.6);
    height: 70vh;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.messages::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.messages::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--bs-purple)
}

.send {
    padding: 15px 15px;
    border-radius: 0 0 15px 15px ;
    background: rgba(var(--bs-body-bg-rgb), 0.9);
}
