@model Overoom.WEB.Contracts.PlaylistManagement.Change.ChangeParameters

@{
    ViewData["Title"] = Model.Name ?? "Редактирование";
    var filmsCount = Model.Films.Count;
}

<div class="row gy-5">
    <div class="col-lg-8">
        <div class="d-flex justify-content-between align-content-center mb-5">
            <h3>Редактирование подборки «@Model.Name»</h3>
            <form asp-action="Delete" method="post">
                <input type="hidden" name="playlistId" value="@Model.Id">
                <input type="submit" class="btn shadow-none btn-dark" value="Удалить">
            </form>
        </div>
        <form asp-action="Edit" method="post" id="edit" class="form-horizontal" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <div class="row g-2 block">
                    <h4>Информация</h4>
                    <div class="col-12">
                        <input asp-for="Id" type="hidden"/>
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-12">
                        <label asp-for="NewPosterUri"></label>
                        <input asp-for="NewPosterUri" class="form-control"/>
                        <span asp-validation-for="NewPosterUri" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-12">
                        <label asp-for="NewPoster"></label>
                        <input asp-for="NewPoster" class="form-control" accept="image/jpeg,image/png"/>
                        <span asp-validation-for="NewPoster" class="text-danger"></span>
                    </div>
                </div>
                <div class="row g-2 block">
                    <h4>Фильмы</h4>
                    <div class="col-12 block-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <label asp-for="Films"></label>
                            <div>
                                <a href="#" counter="@(filmsCount - 1)" class="btn manage-button btn-outline-primary copy-button" add-target="film">+</a>
                                <a href="#" class="btn manage-button btn-outline-danger delete-button" delete-target="film">-</a>
                            </div>
                        </div>
                        <div class="row g-2" id="film">
                            @for (var i = 0; i < filmsCount; i++)
                            {
                                <div class="col-12">
                                    <input type="hidden" asp-for="Films[i].Id"/>
                                    <input type="hidden" asp-for="Films[i].Name"/>
                                    <input type="hidden" asp-for="Films[i].Description"/>
                                    <input type="hidden" asp-for="Films[i].Uri"/>
                                    @Model.Films[i].Name
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <input class="btn shadow-none btn-dark" type="submit" value="Изменить"/>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts
{
    <script src="~/js/filmEdit.js"></script>
}

@section styles
{
    <link rel="stylesheet" href="~/css/load.css"/>
}