@model Overoom.WEB.Contracts.PlaylistManagement.PlaylistsSearchParameters

@{
    ViewData["Title"] = "Управление контентом";
}

<div class="row">
    <div class="col-12 mb-5">
        <h3>Подборки</h3>
    </div>
    <div class="col-md-3 order-md-3">
        <div class="sticky-md-top block-background">
            <div>
                <form asp-action="PlaylistsList" id="filter">
                    <label asp-for="Query"></label>
                    <input asp-for="Query" class="form-control">
                </form>
            </div>
            <a class="btn shadow-none btn-outline-primary mt-3" asp-action="Load">Создать подборку</a>
        </div>
    </div>
    <div class="col-md-9 order-md-2 block-background">
        <div class="row gx-3 gy-3 films"></div>
        <div class="spinner">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>
    <script src="~/js/scroller.js"></script>
    <script src="~/js/filmManagement.js"></script>
}

@section styles
{
    <link rel="stylesheet" href="~/css/management.css">
}