@model Overoom.WEB.Contracts.PlaylistManagement.PlaylistsSearchParameters

@{
    ViewData["Title"] = "Управление контентом";
}

<div class="block-background mt-5">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
        <h4>Подборки</h4>
        <div>
            <form asp-action="PlaylistsList" id="filter">
                <label asp-for="Query"></label>
                <input asp-for="Query" class="form-control d-inline-block" style="width: auto">
            </form>
        </div>
    </div>
    <div class="row gx-3 gy-3 films"></div>
    <div class="spinner">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>
    <script src="~/js/scroller.js"></script>
    <script src="~/js/playlistManagement.js"></script>
}

@section styles
{
    <link rel="stylesheet" href="~/css/management.css">
}