/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body.theme-dark {
    --background-color: #111111;
    --background-additional-color: #363636;
    --background-supportive-color: #212121;

    --text-additional-color: #a4a7a8;
    --text-color: #eeeeee;
}

.blockBackground {
    padding: 20px;
    background: #232323 !important;
    border-radius: 15px;
}

.oauth {
    width: 128px;
    height: 32px;
}

/* Films list styles
-------------------------------------------------- */

.poster {
    height: 300px;
}

.filmCard {
    width: 200px;
    height: 100%;
    margin: 0 auto;
    background: #4b4b4b !important;
}

.filmLink {
    color: #eeeeee !important;
    text-decoration: none;
    height: 100%;
}

.filmCardTop {
    background: #252525 !important;
}

.filmCardBottom{
    background: #252525 !important;
    position : absolute;
    bottom : 0;
    width: 100%;
}

.filmDescriptionList{
    color: #bebebe !important;
}


/*Film styles
--------------------------------------------------*/
.filmAvatar {
    width: 100%;
    height: auto;
    max-height: 300px;
    max-width: 200px;
    border-radius: 10px;
}

.filmDescription {
    color: #8f8f8f;
}

.filmsSearchLink {
    color: #8f8f8f !important;
    text-decoration: none;
}

.filmsSearchLink:hover {
    color: #6b6b6b !important;
    text-decoration: underline;
}

.filmKey {
    color: #d9d9d9;
}

.comment{
    margin-top: 10px;
    color: #a4a7a8 !important;
}

.commentAvatar {
    width: 45px;
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
.form-control {
    background: #363636 !important;
    color: #eeeeee !important;
}


button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #111111;
    color: #eeeeee;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

svg {
    position: relative;
    bottom: 2px;
}

/* Validation styles
-------------------------------------------------- */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

textarea.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/*Rooms styles
--------------------------------------------------*/
.chat {
    border-radius: 15px;
    border: 1px solid #606060;
    box-sizing: border-box;
    background: #262626 !important;
    color: #cbcbcb;
}

.message {
    border-radius: 15px;
    color: #ffffff;
    padding: 5px 15px;
}

.messageAvatar {
    width: 45px;
    height: 100%;
    border-radius: 50%;
}

.messageMe {
    background: #6b789d;
    margin-right: 15px;
}

.messageOther {
    background: #656565;
    margin-left: 15px;
}

.notify {
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
    color: #ffffff;
}

.additionalText {
    margin-bottom: 0;
    color: #d3d3d3;
}

.chatHeader {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-bottom: 0;
    text-align: center;
    background: #5d5d5d !important;
}

.chatList, .chatList .list-group-item {
    background: #6c6c6c !important;
    color: white;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

#chatButton {
    color: white;
    text-decoration: none;
}

#chatScroll {
    height: 350px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

#chatScroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

#chatScroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}


/*Spinner
-------------------------------------------------- */
.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, #0068ff, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}

.wave:nth-child(2) {
    animation-delay: 0.1s;
}

.wave:nth-child(3) {
    animation-delay: 0.2s;
}

.wave:nth-child(4) {
    animation-delay: 0.3s;
}

.wave:nth-child(5) {
    animation-delay: 0.4s;
}

.wave:nth-child(6) {
    animation-delay: 0.5s;
}

.wave:nth-child(7) {
    animation-delay: 0.6s;
}

.wave:nth-child(8) {
    animation-delay: 0.7s;
}

.wave:nth-child(9) {
    animation-delay: 0.8s;
}

.wave:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}