/Overoom/obj/
/Overoom/bin/
/Overoom.Domain/bin/
/Overoom.Domain/obj/
/Overoom.WEB/bin/
/Overoom.WEB/obj/
/Overoom.Application.Abstractions/bin/
/Overoom.Application.Abstractions/obj/
/Overoom.Application.Services/bin/
/Overoom.Application.Services/obj/
/Overoom.Domain.Services/bin/
/Overoom.Domain.Services/obj/
/Overoom.Domain.Abstractions/bin/
/Overoom.Domain.Abstractions/obj/
/Overoom.Infrastructure.ApplicationData/bin/
/Overoom.Infrastructure.ApplicationData/obj/
/Overoom.Infrastructure.Mailing/bin/
/Overoom.Infrastructure.Mailing/obj/
/Overoom.Infrastructure.MovieDownloader/bin/
/Overoom.Infrastructure.MovieDownloader/obj/
/Overoom.Infrastructure.PersistentStorage/bin/
/Overoom.Infrastructure.PersistentStorage/obj/
/Overoom.Infrastructure.PhotoManager/bin/
/Overoom.Infrastructure.PhotoManager/obj/
/Overoom/wwwroot/img/Avatars/
/Overoom/wwwroot/img/Posters/