@model Overoom.WEB.Contracts.Film.AddCommentParameters
<form asp-action="AddComment" method="Post" id="commentForm" class="form-horizontal">
    <input type="hidden" asp-for="FilmId">
    <label asp-for="Text"></label>
    <textarea asp-for="Text" class="form-control" rows="2"></textarea>
    <span asp-validation-for="Text" class="text-danger"></span>
    <input class="btn btn-outline-danger mt-2" type="submit" value="Добавить"/>
</form>