@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Смотри</h1>
    <p>Смотри меньшим шрифтом</p>
   <iframe id="player" src="//29.svetacdn.in/UzTOXWI5Tvif/tv-series/579" width="640" height="480" allowfullscreen></iframe>
</div>