.main_text {
    font-size: 60px;
    font-weight: 600;
}

@media (min-width: 1080px) {
    .main_text {
        font-size: 70px;
        font-weight: 700;
    }
}


@media (min-width: 1700px) {
    .main_text {
        font-size: 80px;
    }
}