.poster {
    width: 100%;
    max-height: 250px;
    max-width: 150px;
    border-radius: 10px;
    display: block;
    box-shadow: 0 2px 5px #ce1919;
    margin: 0 auto;
}

.film-link {
    --bs-link-color: #8f8f8f;
    text-decoration: none;
}

.film-link:hover {
    color: #b6b6b6;
}

.block-background {
    padding: 15px;
    background: var(--color-dark);
    border-radius: 15px;
    box-shadow: 0 0 10px var(--shadow-dark);
    margin-bottom: 20px;
}
