.poster {
    width: 100%;
    max-height: 100px;
    max-width: 70px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.film-link {
    --bs-link-color: #8f8f8f;
}

.film-link:hover {
    color: #b6b6b6;
}

.films-search {
    --bs-link-color: #8f8f8f;
    text-decoration: none;
}

.films-search:hover {
    color: #6b6b6b;
    text-decoration: underline;
}

.block-background {
    padding: 15px;
    background: var(--color-dark);
    border-radius: 15px;
    box-shadow: 2px 2px 5px var(--shadow-purple);
}

.accordion {
    --bs-accordion-bg: var(--color-dark);
    --bs-accordion-active-bg: #2c2c2c;
    --bs-accordion-btn-color: #8f8f8f;
    --bs-accordion-color: #b6b6b6;
    --bs-accordion-active-color: white;
    --bs-accordion-border-color: #2c2c2c;
    --bs-accordion-btn-focus-box-shadow: #2c2c2c;
    box-shadow: 0 0 10px var(--shadow-dark);
}