.chat {
    border-radius: 15px;
    background: #131313;
    color: #cbcbcb;
    box-shadow: 0 0 25px #2a2a2a;
    width: 80%;
    max-width: 350px;
    padding: 10px;
}

.message {
    border-radius: 15px;
    color: #ffffff;
    padding: 5px 15px;
}

.messageAvatar {
    width: 45px;
    height: 100%;
    border-radius: 50%;
}

.messageMe {
    background: #6b789d;
    margin-right: 15px;
}

.messageOther {
    background: #656565;
    margin-left: 15px;
}

.notify {
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
    color: #ffffff;
}

.additionalText {
    margin-bottom: 0;
    color: #d3d3d3;
}

.chatHeader {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    background: #212121;
}

.chatList {
    background: #212121;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.viewer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #363636;
}

#chatButton {
    color: white;
    text-decoration: none;
}

.chatScroll {
    height: 350px;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-scrolling: touch;
}

.chatScroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.chatScroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.player {
    border-radius: 10px;
    box-shadow: 0 0 30px #790e0e;
    height: 80%;
}

.inputVideo {
    width: 80%;
    display: inline-block;
}

.addVideo {
    float: right;
    width: 15%;
}
.buttons{
    display: inline-block;
    width: 30%;
    height: 100%;
}
.add{
    display: inline-block;
    width: 70%;
    float: right;
}
.control-btn{
    width: 40%;
}