.chat {
    border-radius: 15px;
    border: 1px solid #606060;
    box-sizing: border-box;
    background: #262626 !important;
    color: #cbcbcb;
}

.message {
    border-radius: 15px;
    color: #ffffff;
    padding: 5px 15px;
}

.messageAvatar {
    width: 45px;
    height: 100%;
    border-radius: 50%;
}

.messageMe {
    background: #6b789d;
    margin-right: 15px;
}

.messageOther {
    background: #656565;
    margin-left: 15px;
}

.notify {
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
    color: #ffffff;
}

.additionalText {
    margin-bottom: 0;
    color: #d3d3d3;
}

.chatHeader {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-bottom: 0;
    text-align: center;
    background: #5d5d5d !important;
}

.chatList, .chatList .list-group-item {
    background: #6c6c6c !important;
    color: white;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

#chatButton {
    color: white;
    text-decoration: none;
}

#chatScroll {
    height: 350px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

#chatScroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

#chatScroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
