/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.nav-background {
    background: #111111;
}

/* Sticky footer styles
-------------------------------------------------- */
.form-control {
    background: #171717 !important;
    color: #eeeeee !important;
}

.search-control-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.films-search-block {
    position: absolute;
    margin-top: 5px;
    background-color: #2d2d2d;
    z-index: 1;
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ced4da;
    border-radius: 10px 10px;
    padding: 5px 2px 5px 2px;
}

.film-search-element {
    display: flex;
    justify-content: start;
    padding: 3px;
    border-bottom: 1px solid #545454;
    border-radius: 0 0 7px 7px;
    text-decoration: none;
    color: white;
}

.film-search-element:hover {
    color: white;
    background-color: #444444;
}

.film-search-element > img {
    border-radius: 5px;
    width: 50px;
    height: 75px;
    margin-right: 7px;
}

.film-search-text {
    max-width: 80%;
}

.film-search-description {
    color: #858585;
    font-size: 11px;
}


.avatar {
    margin-left: var(--bs-navbar-nav-link-padding-x);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.btn-search {
    margin-left: 5px;
    margin-right: 10px;
    --bs-btn-color: var(--link-color);
    --bs-btn-border-color: var(--link-color);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #f8f9fa;
}

.dropdown-menu {
    --bs-dropdown-bg: #2a2a2a;
    --bs-dropdown-link-color: var(--link-color);
    --bs-dropdown-link-hover-bg: #1c1c1c;
    --bs-dropdown-link-hover-color: var(--link-color);
    --bs-dropdown-link-active-bg: #141934;
}


a.nav-link {
    --bs-nav-link-color: var(--link-color);
    --bs-nav-link-hover-color: var(--link-hover-color);
}

a.navbar-brand {
    --bs-navbar-brand-color: var(--link-color);
    --bs-navbar-brand-hover-color: var(--link-hover-color);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    --shadow-purple: #70059b;
    --shadow-red: #7e0303;
    --shadow-dark: #262626;
    --color-dark: rgb(18, 20, 23);
    --link-color: #d2d2d2;
    --link-hover-color: #8a8a8a;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@font-face {
    font-family: "RobotoFlex";
    src: url("../fonts/RobotoFlex.ttf") format("truetype");
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #000000;
    color: #eeeeee;
    font-family: "RobotoFlex", "Arial", sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

svg {
    position: relative;
    bottom: 2px;
}

/* Validation styles
-------------------------------------------------- */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

textarea.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.spinner {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-grow {
    margin-left: 2px;
    margin-right: 2px;
}


@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1600px;
    }
}

@media (min-width: 1800px) {
    .container {
        max-width: 1800px;
    }
}

@media (min-width: 1400px) {
    .col-xxl-25 {
        flex: 0 0 auto;
        width: 20%;
    }
    .col-xxl-15 {
        flex: 0 0 auto;
        width: 12.5%;
    }
}