.timer {
    font-size: 12px;
    color: rgba(var(--bs-body-color-rgb), 0.8);
}

.icon {
    margin-left: 5px;
    width: 16px;
    height: 16px;
    fill: currentColor;
    color: rgba(var(--bs-body-color-rgb), 0.5);
}

.offline {
    color: rgba(var(--bs-body-color-rgb), 0.7);
}

.offlineBadge {
    font-size: 12px;
}

.type {
    animation: blink-animation 2s infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}