.footer {
    --link-color: #d2d2d2;
    --link-hover-color: #8a8a8a;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    z-index: 2;
    color: var(--link-color);
}

.nav_link {
    --bs-nav-link-color: var(--link-color);
    --bs-nav-link-hover-color: var(--link-hover-color);
}