@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Overoom.Domain.Films.Enums
@model Overoom.WEB.Contracts.Films.FilmsSearchParameters
@{
    ViewData["Title"] = "Каталог";
}

<form asp-action="FilmsList" method="get" class="form-horizontal" id="filter">
    <input asp-for="Query" type="hidden" class="form-control"/>
    <input asp-for="Person" type="hidden" class="form-control"/>
    <input asp-for="Type" type="hidden" class="form-control"/>
    <input asp-for="Genre" type="hidden" class="form-control"/>
    <input asp-for="Country" type="hidden" class="form-control"/>
    <input asp-for="PlaylistId" type="hidden" class="form-control"/>
</form>
<div class="mt-5">
    @{
        string text;
        if (Model.Query != null) text = $"Название: {Model.Query}";
        else if (Model.Person != null) text = $"Персона: {Model.Person}";
        else if (Model.Type != null) text = $"Тип: {(Model.Type == FilmType.Film ? "Фильм" : "Сериал")}";
        else if (Model.Genre != null) text = $"Жанр: {Model.Genre}";
        else if (Model.Country != null) text = $"Страна: {Model.Country}";
        else if (Model.PlaylistId != null) text = "Подборка";
        else text = "Поиск без параметров";
        <h3>@text</h3>
    }
    <div class="row gx-5 gy-5 films justify-content-lg-start justify-content-center"></div>
    <div class="spinner">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>
    <script src="~/js/scroller.js"></script>
    <script src="~/js/films.js"></script>
}

@section styles
{
    <link rel="stylesheet" href="~/css/content.css"/>
}