@model Watch2gether.WEB.Models.Room.FilmRoom.FilmRoomViewModel
@{
    ViewData["Title"] = Model.Film.Name;
}
<div class="row gx-0 pt-1">
    <div class="col-lg-8 col-md-7 col-12">
        <iframe id="player" src="@Model.Film.Url" width="100%" height="630px" allowfullscreen></iframe>
    </div>
    <partial name="_RoomPartial" model="Model"/>
</div>

@section scripts
{
    <script src="~/lib/signalr/dist/signalr.min.js"></script>
    <script src="~/js/filmHub.js"></script>
}