.logo {
    width: 70%;
    margin: 30px auto 0;
    text-align: center;
}

.line {
    width: 250px;
    margin: 0 auto 10px;
    border-top: 4px solid white;
}

.glasses {
    width: 50px;
    height: 50px;
    bottom: 10px;
}

@media (min-width: 1080px) {
    .logo {
        width: 35%;
        margin-left: 15%;
        margin-top: 50px;
    }

    .line {
        width: 300px;
    }

    .glasses {
        width: 70px;
        height: 70px;
        bottom: 20px;
    }
}


@media (min-width: 1700px) {
    .logo {
        width: 35%;
        margin-left: 10%;
    }

    .line {
        width: 400px;
    }

    .glasses {
        width: 70px;
        height: 70px;
        bottom: 20px;
    }
}