.rating_area {
    min-width: 200px;
    display: inline-block;
    padding-bottom: 4px;
}

.rating_area:not(:checked) > input {
    display: none;
}

.rating_area:not(:checked) > label {
    float: right;
    width: 20px;
    padding: 0;
    cursor: pointer;
    font-size: 25px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating_area:not(:checked) > label:before {
    content: '★';
}

.rating_area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating_area_selected > input:checked ~ label {
    color: #606060 !important;
    text-shadow: 1px 1px #9a9a9a !important;
}

.rating_area:not(:checked) > label:hover,
.rating_area:not(:checked) > label:hover ~ label {
    color: #606060;
    text-shadow: 1px 1px #9a9a9a;
}

.rating_area > input:checked + label:hover,
.rating_area > input:checked + label:hover ~ label,
.rating_area > input:checked ~ label:hover,
.rating_area > input:checked ~ label:hover ~ label,
.rating_area > label:hover ~ input:checked ~ label {
    color: #606060;
    text-shadow: 1px 1px #9a9a9a;
}

.rating_area > label:active {
    position: relative;
}