@{
    ViewData["Title"] = "Правообладателям";
}
<h1>@ViewData["Title"]</h1>

<div class="mt-5">
    <p>
        <span>Сайт действует в соответствии с законодательством Российской Федерации о защите информации и авторских прав.</span>
        <br><br>
        <span>Сайт является информационным посредником, мы ни в коей мере не нарушаем авторские и смежные права.</span>
        <br><br>
        <span>Если ваши исключительные права на объекты авторской собственности нарушаются каким-либо образом с использованием данного ресурса (размещение информации, защищенной авторским правом), администрация готова оказать вам содействие и удалить соответствующие материалы.</span>
        <br><br>
        <span>При возникновении спорных ситуаций мы просим Вас прислать нам письмо в электронном виде, где необходимо указать следующее:</span>
        <br><br>
        <span>1. Документальное подтверждение ваших прав на материал, защищённый авторским правом:</span>
        <br><br>
        <span>• отсканированный документ с печатью,</span><br>
        <span>• либо email с официального почтового домена компании правообладателя,</span><br>
        <span>• либо иная информация, позволяющая однозначно идентифицировать вас как правообладателя данного материала.</span>
        <br><br>
        <span>2. Прямые ссылки на страницы сайта, либо скриншоты материалов, которые содержат данные, опубликованные с нарушением авторских прав.</span>
        <br><br>
        <span>При получении письма, содержащего данную информацию, в течение 24 часов мы удалим материал с сайта, либо по вашей просьбе заменим материал на лицензионный.</span>
        <br><br>
        <span>Почта: </span><b>egor.lazeba@yandex.ru</b>
    </p>
</div>