<form asp-action="ChangeAvatar" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <div class="row g-3">
            <div class="col-12">
                <label for="formFile" class="form-label">Загрузите фотографию</label>
                <input class="form-control" type="file" name="uploadedFile" id="formFile" accept="image/jpeg,image/png">
            </div>
            <div class="col-12">
                <input class="btn shadow-none btn-dark" type="submit" value="Загрузить"/>
            </div>
        </div>
    </div>
</form>