.text {
    font-size: 80px;
    font-family: "Morice-Bejar", "Arial", sans-serif;

    @media (max-width: 1500px) {
        font-size: 60px;
    }

    @media (max-width: 1000px) {
        font-size: 40px;
    }
}

.block {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}