@model (string[] providers, string returnUrl)
<div class="oauth-block mb-2 mb-md-5">
    @foreach (var provider in Model.providers)
    {
        var lover = provider.ToLower();
        <a asp-controller="External" asp-action="Challenge" asp-route-provider="@provider" asp-route-returnUrl="@Model.returnUrl">
            <img class="oauth @lover" src="~/img/@(lover).svg" alt="">
        </a>
    }
</div>