.comment_card {
    --bs-card-cap-bg: #151515 !important;
    --bs-card-bg: #1c1c1c !important;
    --bs-card-cap-color: white !important;
    --bs-card-color: white !important;
    border-radius: 10px !important;
    box-shadow: 2px 2px 3px #7e0303;
}


.comment_avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}