@using Watch2gether.Application.Abstractions.DTO.Films.FilmCatalog
@using Watch2gether.Domain.Films.Enums
@model Watch2gether.WEB.Models.Film.FilmsSearchViewModel
@{
    ViewData["Title"] = "Каталог";
}
<div class="row gx-5">
    <div class="filter col-lg-3 col-sm-4">
        <div class="sticky-sm-top pt-3 blockBackground">
            <form method="get" class="form-horizontal" id="dataForm">
                <div class="pb-3">
                    <div class="mb-3">
                        <label asp-for="Query"></label>
                        <input asp-for="Query" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Person"></label>
                        <input asp-for="Person" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Type"></label>
                        <select asp-for="Type" class="form-control">
                            <option selected="selected" value="">Не выбрано</option>
                            <option value="@FilmType.Film">Фильм</option>
                            <option value="@FilmType.Serial">Сериал</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="d-flex justify-content-evenly flex-wrap text-end">
                            <div class="d-flex justify-content-between align-items-center">
                                <label asp-for="MinYear"></label>
                                <input style="width: 85%" asp-for="MinYear" class="form-control form-control-sm"/>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <label asp-for="MaxYear"></label>
                                <input style="width: 85%" asp-for="MaxYear" class="form-control form-control-sm"/>
                            </div>
                        </div>
                    </div>
                    @{
                        var genres = new List<string> {"Аниме", "Биография", "Боевик", "Вестерн", "Военный", "Детектив", "Детский", "Документальный", "Драма", "Игра", "Исторический", "Комедия", "Концерт", "Короткометражка", "Криминал", "Мелодрама", "Музыкальный", "Мультфильм", "Мюзикл", "Новости", "Приключения", "Семейный", "Спортивный", "Ток-шоу", "Триллер", "Ужасы", "Фантастика", "Фильм-нуар", "Фэнтези", "Церемония"};
                        var countries = new List<string> {"Россия", "СССР", "США", "Франция", "Италия", "Испания", "Великобритания", "Германия", "Корея Южная", "Япония", "Австралия", "Австрия", "Азербайджан", "Албания", "Алжир", "Американские Виргинские острова", "Американское Самоа", "Ангола", "Андорра", "Антарктида", "Антигуа и Барбуда", "Антильские Острова", "Аргентина", "Армения", "Аруба", "Афганистан", "Багамы", "Бангладеш", "Барбадос", "Бахрейн", "Беларусь", "Белиз", "Бельгия", "Бенин", "Берег Слоновой кости", "Бермуды", "Бирма", "Болгария", "Боливия", "Босния", "Босния и Герцеговина", "Ботсвана", "Бразилия", "Бруней-Даруссалам", "Буркина-Фасо", "Бурунди", "Бутан", "Вануату", "Ватикан", "Венгрия", "Венесуэла", "Виргинские Острова", "Внешние малые острова США", "Вьетнам", "Вьетнам Северный", "Габон", "Гаити", "Гайана", "Гамбия", "Гана", "Гваделупа", "Гватемала", "Гвинея", "Гвинея-Бисау", "Германия (ГДР)", "Германия (ФРГ)", "Гибралтар", "Гондурас", "Гонконг", "Гренада", "Гренландия", "Греция", "Грузия", "Гуам", "Дания", "Джибути", "Доминика", "Доминикана", "Египет", "Заир", "Замбия", "Западная Сахара", "Зимбабве", "Израиль", "Индия", "Индонезия", "Иордания", "Ирак", "Иран", "Ирландия", "Исландия", "Йемен", "Кабо-Верде", "Казахстан", "Каймановы острова", "Камбоджа", "Камерун", "Канада", "Катар", "Кения", "Кипр", "Киргизия", "Кирибати", "Китай", "Колумбия", "Коморы", "Конго", "Конго (ДРК)", "Корея", "Корея Северная", "Косово", "Коста-Рика", "Кот-д’Ивуар", "Куба", "Кувейт", "Лаос", "Латвия", "Лесото", "Либерия", "Ливан", "Ливия", "Литва", "Лихтенштейн", "Люксембург", "Маврикий", "Мавритания", "Мадагаскар", "Макао", "Македония", "Малави", "Малайзия", "Мали", "Мальдивы", "Мальта", "Марокко", "Мартиника", "Маршалловы острова", "Масаи", "Мексика", "Мелкие отдаленные острова США", "Мозамбик", "Молдова", "Монако", "Монголия", "Монтсеррат", "Мьянма", "Намибия", "Непал", "Нигер", "Нигерия", "Нидерланды", "Никарагуа", "Новая Зеландия", "Новая Каледония", "Норвегия", "ОАЭ", "Оккупированная Палестинская территория", "Оман", "Остров Мэн", "Остров Святой Елены", "Острова Кука", "острова Теркс и Кайкос", "Пакистан", "Палау", "Палестина", "Панама", "Папуа - Новая Гвинея", "Парагвай", "Перу", "Польша", "Португалия", "Пуэрто Рико", "Реюньон", "Российская империя", "Руанда", "Румыния", "Сальвадор", "Самоа", "Сан-Марино", "Сан-Томе и Принсипи", "Саудовская Аравия", "Свазиленд", "Северная Македония", "Сейшельские острова", "Сенегал", "Сент-Винсент и Гренадины", "Сент-Китс и Невис", "Сент-Люсия", "Сербия", "Сербия и Черногория", "Сиам", "Сингапур", "Сирия", "Словакия", "Словения", "Соломоновы Острова", "Сомали", "Судан", "Суринам", "Сьерра-Леоне", "Таджикистан", "Таиланд", "Тайвань", "Танзания", "Тимор-Лесте", "Того", "Тонга", "Тринидад и Тобаго", "Тувалу", "Тунис", "Туркменистан", "Турция", "Уганда", "Узбекистан", "Украина", "Уоллис и Футуна", "Уругвай", "Фарерские острова", "Федеративные Штаты Микронезии", "Фиджи", "Филиппины", "Финляндия", "Фолклендские острова", "Французская Гвиана", "Французская Полинезия", "Хорватия", "ЦАР", "Чад", "Черногория", "Чехия", "Чехословакия", "Чили", "Швейцария", "Швеция", "Шпицберген и Ян-Майен", "Шри-Ланка", "Эквадор", "Экваториальная Гвинея", "Эритрея", "Эстония", "Эфиопия", "ЮАР", "Югославия", "Югославия (ФР)", "Ямайка"};
                    }
                    <div class="mb-3">
                        <label asp-for="Genre"></label>
                        <select asp-for="Genre" asp-items="genres.Select(x => new SelectListItem(x, x))" class="form-control">
                            <option selected="selected" value="">Не выбрано</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Country"></label>
                        <select asp-for="Country" asp-items="countries.Select(x => new SelectListItem(x, x))" class="form-control">
                            <option selected="selected" value="">Не выбрано</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <a href="#" id="sortOrder" class="nav-link">
                            Сортировать по:
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </a>
                        <div class="form-check">
                            <input asp-for="SortBy" class="form-check-input" type="radio" value="@SortBy.Date" id="date" checked>
                            <label class="form-check-label" for="date">
                                По дате
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="SortBy" class="form-check-input" type="radio" value="@SortBy.Rating" id="rating">
                            <label class="form-check-label" for="rating">
                                По оценке
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <a class="nav-link" id="clearFilter" href="#">Отчистить фильтр</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-9 col-sm-8 ps-5">
        <div class="row gx-3 gy-3 films"></div>
        <div class="spinner center">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>
    <script src="~/js/filmsList.js"></script>
}