.account {
  .oauth-block {
    display: flex;
    height: 47px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    --logo-width: 44px;
    --logo-height: 44px;

    .oauth {
      width: var(--logo-width);
      height: var(--logo-height);
      border-radius: 50%;
      text-decoration: none;
      transition: all 0.2s;
    }

    .oauth:hover {
      width: calc(var(--logo-width) + 3px);
      height: calc(var(--logo-height) + 3px);
    }

    .yandex:hover {
      box-shadow: 0 5px 5px 0 rgba(255, 8, 8, 0.4);
    }

    .vkid {
      border-radius: 20%;
      width: calc(var(--logo-width) * 2);
    }

    .vkid:hover {
      width: calc(var(--logo-width) * 2 + 3px);
      box-shadow: 0 5px 5px 0 rgba(8, 133, 255, 0.4);
    }

    .github:hover {
      box-shadow: 0 5px 5px 0 rgba(0, 28, 54, 0.4);
    }

    .google:hover {
      box-shadow: 0 5px 5px 0 rgba(16, 8, 255, 0.4);
    }

    .microsoft {
      border-radius: 0;
    }

    .microsoft:hover {
      box-shadow: 0 5px 5px 0 rgba(8, 255, 144, 0.4);
    }

    .x:hover {
      box-shadow: 0 5px 5px 0 rgba(47, 47, 47, 0.4);
    }
  }

  @media (max-width: 900px) {
    .oauth-block {
      --logo-width: 32px;
      --logo-height: 32px;
    }
  }

  @media (max-width: 670px) {
    .oauth-block {
      --logo-width: 28px;
      --logo-height: 28px;
    }
  }

  @media (max-width: 400px) {
    .oauth-block {
      --logo-width: 25px;
      --logo-height: 25px;
    }
  }
}