@using Overoom.Application.Abstractions
<footer class="nav-background">
    <div class="container">
        <div class="d-flex justify-content-between">
            <span>&copy; @DateTime.UtcNow.Year - @ApplicationConstants.ProjectName</span>
            <a asp-controller="Home" asp-action="Privacy" class="nav-link">Правообладателям</a>
        </div>
    </div>
</footer>