@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Overoom.Application.Abstractions

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @ApplicationConstants.ProjectName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    @await RenderSectionAsync("styles", false)
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-xxl navbar-toggleable-xxl navbar-dark nav-background mb-3">
        <partial name="_Navbar"/>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @if (ViewData["Alert"] != null)
        {
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                @ViewData["Alert"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }
        @RenderBody()
    </main>
</div>

<partial name="_Footer"/>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<partial name="_ValidationScriptsPartial"/>
@await RenderSectionAsync("scripts", false)
</body>
</html>