@model Overoom.WEB.Models.Home.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка.</h1>

@if (Model.ShowRequestId)
{
    <h2 class="text-danger">Произошла ошибка при обработке вашего запроса.</h2>
    <p>
        <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>@Model.Message</p>