/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


body {
    background-blend-mode: screen;
    background: linear-gradient(#1f052c, transparent),
    linear-gradient(90deg, #052126, transparent),
    linear-gradient(-90deg, #261106, transparent);
    background-size: cover;
}


.form-control {
    background: var(--color-dark) !important;
    color: #eeeeee !important;
}

.nav-background {
    background: var(--color-dark);
    --link-color: #d2d2d2;
    --link-hover-color: #8a8a8a;
}

/* Validation styles
-------------------------------------------------- */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

textarea.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.spinner {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-grow {
    margin-left: 2px;
    margin-right: 2px;
}