@model Overoom.WEB.Contracts.Film.AddRatingParameters

<form asp-action="AddRating" class="rating-area">
    <input type="hidden" asp-for="FilmId">
    <input type="radio" id="star-10" asp-for="Score" value="10">
    <label for="star-10" title="Оценка «10»"></label>
    <input type="radio" id="star-9" asp-for="Score" value="9">
    <label for="star-9" title="Оценка «9»"></label>
    <input type="radio" id="star-8" asp-for="Score" value="8">
    <label for="star-8" title="Оценка «8»"></label>
    <input type="radio" id="star-7" asp-for="Score" value="7">
    <label for="star-7" title="Оценка «7»"></label>
    <input type="radio" id="star-6" asp-for="Score" value="6">
    <label for="star-6" title="Оценка «5»"></label>
    <input type="radio" id="star-5" asp-for="Score" value="5">
    <label for="star-5" title="Оценка «5»"></label>
    <input type="radio" id="star-4" asp-for="Score" value="4">
    <label for="star-4" title="Оценка «4»"></label>
    <input type="radio" id="star-3" asp-for="Score" value="3">
    <label for="star-3" title="Оценка «3»"></label>
    <input type="radio" id="star-2" asp-for="Score" value="2">
    <label for="star-2" title="Оценка «2»"></label>
    <input type="radio" id="star-1" asp-for="Score" value="1">
    <label for="star-1" title="Оценка «1»"></label>
</form>