@model Watch2gether.WEB.Models.Room.YoutubeRoom.YoutubeRoomViewModel
@{
    ViewData["Title"] = "Youtube";
}
<div class="row gx-0 pt-1">
    <div class="col-lg-8 col-md-7 col-12">
        <div id="player"></div>
    </div>
    <partial name="_RoomPartial" model="Model"/>
</div>

@section scripts
{
    <script src="~/lib/signalr/dist/signalr.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="~/js/roomHub.js"></script>
    <script src="~/js/youtubeHub.js"></script>
}