.viewers {
    padding: 15px 15px;
    border-radius: 15px 15px 0 0;
    background: rgba(var(--bs-body-bg-rgb), 0.9);
}

.menu {
    width: 25px;
    height: 25px;
    cursor: pointer;
    fill: currentColor;
}