@using Overoom.Application.Abstractions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @ApplicationConstants.ProjectName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="~/css/Account/account.css"/>
    <link rel="stylesheet" href="~/css/Common/navbar.css"/>
    <link rel="stylesheet" href="~/css/Common/footer.css"/>
    <link rel="stylesheet" href="~/css/Common/common.css"/>
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<header class="nav-background">
    <partial name="_Navbar"/>
</header>

<div class="body-container">
    <div class="card main-card p-5">
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
</div>

<partial name="_Footer"/>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<partial name="_ValidationScriptsPartial"/>
@await RenderSectionAsync("scripts", required: false)
</body>
</html>