@model Overoom.WEB.Contracts.Accounts.LoginParameters;
@{
    ViewData["Title"] = "Вход";
}

<h5 class="card-title">Вход</h5>
<span class="card-logo">
    <img src="~/img/favicon.ico" alt="">
</span>
<form asp-action="Login" method="post" class="mt-5">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="ReturnUrl" type="hidden"/>

    <div class="wrap-input">
        <input asp-for="Email" autofocus>
        <span class="focus-input"
              asp-placeholder-for="Email">
        </span>
    </div>
    <div class="wrap-error mb-4">
        <span asp-validation-for="Email"></span>
    </div>

    <div class="wrap-input">
        <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
        </span>
        <input asp-for="Password"/>
        <span class="focus-input"
              asp-placeholder-for="Password">
        </span>
    </div>
    <div class="wrap-error mb-2">
        <span asp-validation-for="Password"></span>
    </div>

    <div class="d-flex mb-5">
        <div class="form-check">
            <input asp-for="RememberMe"
                   class="form-check-input">
            <label asp-for="RememberMe"
                   class="form-check-label">
            </label>
        </div>
        <a asp-action="ResetPassword" class="card-link ms-auto">Забыли пароль?</a>
    </div>
    <div class="oauth-block mb-5">
        <a asp-action="LoginOauth" asp-route-provider="Vkontakte" asp-route-returnUrl="@Model.ReturnUrl">
            <img class="oauth oauth-vkontakte" src="~/img/vkontakte.svg" alt="">
        </a>
        <a asp-action="LoginOauth" asp-route-provider="Yandex" asp-route-returnUrl="@Model.ReturnUrl">
            <img class="oauth oauth-yandex" src="~/img/yandex.svg" alt="">
        </a>
    </div>
    <div class="container-btn mb-4">
        <div class="wrap-btn on-load">
            <div class="bg-btn"></div>
            <input class="m-btn" type="submit" value="Войти">
        </div>
    </div>
</form>
<div class="container-btn mb-5">
    <div class="wrap-btn on-hover">
        <div class="bg-btn"></div>
        <a class="m-btn" href="@Model.ReturnUrl">
            Отмена
        </a>
    </div>
</div>
<div class="text-center mt-5 card-subtitle">
    <span>
        Нет аккаунта?
    </span>

    <a class="card-link" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">
        Регистрация
    </a>
</div>

@section scripts
{
    <script src="~/js/Account/login.js"></script>
}