@model Overoom.WEB.Contracts.Accounts.ResetPasswordParameters;
@{
    ViewData["Title"] = "Восстановление пароля";
}

<h5 class="card-title">Восстановление пароля</h5>
<span class="card-logo">
    <img src="~/img/favicon.ico" alt="">
</span>
<form asp-action="ResetPassword" method="post" class="mt-5">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="wrap-input">
        <input asp-for="Email" autofocus>
        <span class="focus-input"
              asp-placeholder-for="Email">
        </span>
    </div>
    <div class="wrap-error mb-5">
        <span asp-validation-for="Email"></span>
    </div>

    <div class="container-btn mb-5">
        <div class="wrap-btn on-load">
            <div class="bg-btn"></div>
            <input type="submit" class="m-btn" value="Отправить подтверждение"/>
        </div>
    </div>
</form>