.genre {
    color: rgba(var(--bs-body-color-rgb), 0.8);
}

.genre:hover {
    color: var(--bs-body-color);
    cursor: pointer;
}

.name{
    color: var(--bs-body-color);
}

.avatar{
    width: 80px;
    height: 80px;
    border-radius: 30%;
    margin-right: 20px;
}

.block {
    display: inline;
}