.genre {
    height: 95%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    background: rgba(var(--bs-body-bg-rgb), 0.7);
    border-radius: 15px;
    font-family: "Morice-Bejar", "Arial", sans-serif;
    font-size: 30px;
    transition: all, 0.2s;

    @media (min-width: 1080px) {
        font-size: 40px;
    }

    @media (min-width: 1500px) {
        font-size: 50px;
    }
}

.genre:hover {
    margin-left: 5px;
    margin-right: 5px;
    transition: all, 0.2s;
    box-shadow: 1px 1px 5px var(--bs-red);
    cursor: pointer;
}

.selected {
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 1px 1px 5px var(--bs-purple) !important;
}