.subtitle {
    color: var(--bs-card-subtitle-color)
}

.type {
    color: rgba(var(--bs-body-color-rgb), 0.6);
    position: absolute;
    bottom: 10px;
    display: block;
}

.type_active {
    color: var(--bs-body-color);
    position: absolute;
    bottom: 10px;
    display: block;
}