.score {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.on {
    color: var(--bs-yellow)
}

.user_on {
    color: var(--bs-gray)
}

.off {
    color: rgba(var(--bs-body-color-rgb), 0.8)
}

.star {
    font-size: 30px;
}

.label {
    margin-top: 5px;
    font-size: 14px;
    margin-left: 10px;

    @media (max-width: 600px) {
        font-size: 10px;
    }
}

.info {
    padding-left: 5px;
    font-size: 12px;
}