
.film{
    margin-left: 10px;
    margin-right: 10px;
    background: rgba(var(--bs-body-bg-rgb), 0.7);
    box-shadow: 0 0 10px var(--shadow-dark);
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    padding-top: 5px;
}

.film:hover{
    margin-left: 5px;
    margin-right: 5px;
    transition: all, 0.1s;
    box-shadow: 0 0 10px var(--bs-red);
    cursor: pointer;
}

.film {
    text-align: center;
    height: 100%;
}

.img {
    width: 100%;
    display: block;
    height: 150px;
    max-width: 100px;
    margin: 0 auto;
    box-shadow: 0 3px 15px var(--bs-purple);
    border-radius: 10px;
}

.title{
    margin-top: 15px;
}
