.element {
    display: flex;
    justify-content: start;
    border-bottom: 1px solid rgba(var(--bs-body-color-rgb), 0.7);
    border-radius: 0 0 7px 7px;
    text-decoration: none;
    background: var(--bs-body-bg);
    cursor: pointer;
}

.title {
    max-width: 80%;
}

.description {
    color: rgba(var(--bs-body-color-rgb), 0.7);
    font-size: 11px;
}

.poster {
    border-radius: 5px;
    width: 60px;
    height: 85px;
    margin-right: 7px;
}

.element:hover .description {
    color: rgba(var(--bs-body-color-rgb), 0.9);
}