@model Watch2gether.WEB.Models.FilmDownloader.FilmsSearchViewModel
@{
    ViewData["Title"] = "Загрузчик фильмов";
}
<div class="row gx-5">
    <div class="col-lg-3 col-sm-4">
        <div class="sticky-sm-top mt-3 blockBackground">
            <form method="get" class="form-horizontal" id="dataForm">
                <div class="mb-3">
                    <label asp-for="Title"></label>
                    <input id="title" asp-for="Title" class="form-control"/>
                </div>
                <div>
                    <label asp-for="Page"></label>
                    <input id="startPage" asp-for="Page" class="form-control"/>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-9 col-sm-8 ps-5">
        <div class="row gx-3 films">
            <table class="table table-dark table-hover">
                <thead>
                <tr class="text-center">
                    <th scope="col">№</th>
                    <th scope="col">Название</th>
                    <th scope="col">Год</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Добавить</th>
                </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
        <div class="spinner center">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/infinite-ajax-scroll/dist/infinite-ajax-scroll.min.js"></script>
    <script src="~/js/filmsInfoList.js"></script>
}